
/* NAVBAR CSS */

.navbar {
    max-height: 80px;
    font-size: 20px;
}

li {
    list-style: none;
}

#selected-heading {
    font-weight: bold;
}

.navbar a:active {
    outline: 0 !important;
}





/* TEXT CSS */

body {
    background-color: black;
    color: white;

}

h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 3vw;
    
}

h2 {
    font-size: 1.3vw;
}




/* ICON CSS */


.fa {
    font-size: 30px;
    color: white;

} 

figure {
    text-align: center;
}



/* FOOTER CSS */

footer {
    text-align: center;
    height: 2.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #343A40;
}


#footer-text {
    font-size: 17px;
}




#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}