

body {
    background-color: black;
    color: white;
}


/* ANIMATED HEADING CSS */

div .typewriter-heading {
    font-family: 'Inconsolata', monospace;
}

.line-1{
    color: white;
    margin: 0 auto;
    border-right: .60vw solid rgba(255,255,255,.75);
    font-size: 9.11vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

}


.anim-typewriter {
    animation: typewriter 1.5s steps(44) 1s 1 normal both,
            blinkTextCursor 1s steps(44) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 50vw;}
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}


.col-6 {
    text-align: center;
    background-color: #343a40;
}

.container {
    position: absolute;
    left: 35%;
    top: 35%;
}




/* BUTTON CSS */

.btn {
    text-align: center;
    top: 20vw;
    font-size: 1em;
    background-color: #171717;

}